smote_variants/__pycache__/*
smote_variants.egg-info/*
tests/__pycache__/*
*.pyc
.coverage
*.log
docs/_build/*
docs/_build/*/*
docs/_build/*.doctree
docs/_build/*/*.doctree
docs/_build/doctrees/*
docs/_build/doctrees/*.doctree
.eggs/*
.prettierrc
build/*
*.whl
*.gz
.vscode/*
.vscode/settings.json
.coverage*
